body {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/background_calender.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
}

h1 {
    display: inline-block;
    text-align: center;
    margin-left: auto;
}

button {
    font-family: Arial, sans-serif;
    padding: 10px 15px;
    margin: 7px;
    cursor: pointer;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border: 2px solid rgba(167, 159, 159, 0.5);
}

button:hover {
    background-color: rgba(167, 159, 159, 0.377);
    border: 2px solid rgba(233, 224, 224, 0.5);
}

.forward {
    margin-right: auto;
    margin-left: 20px;
}

.forward:hover {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 14px;
}

a:link, a:visited {
    background-color: #b9b7b743;
    color: black;
    border: 2px solid rgba(193, 190, 190, 0.23);
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px 12px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.month_button {
    display: flex;
    margin-bottom: 20px; 
    align-items: center;

}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 4000px;
    border: 2px solid rgba(167, 159, 159, 0.5);
    background-color: rgba(209, 255, 250, 0.332);
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-left: 25px;
    margin-right: 25px;
    background-size: 100vw 100vh;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(40px);
    color: white;
}